   
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
            <h1 class="mb-0 bread">About us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(https://tse1.mm.bing.net/th?id=OIP.bn3EhrVCmY85zSCkwoErbgHaE3&pid=Api&P=0);">
						<a href="https://www.youtube.com/watch?v=ne8Ugsy2RYs" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Welcome to KTBook Store</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>KTBook Store specializes in trading: books of national culture, foreign languages, cultural products, stationery, learning tools, souvenirs, children's toys...

                National literature books with various genres such as textbooks - reference books, textbooks, language learning books, dictionaries, reference books in various specialties: literature, psychology - education, science and technology , socio-economic science, common sense science, feng shui books, art of living, quotations, children's books, comics, reading stories, dictionaries, information technology, science - technology, cooking food, beauty ... of many reputable publishers and book suppliers such as: Youth Publishing House, Education, Kim Dong, Culture - Literature, Ho Chi Minh City General, National Politics; Dong A Company, Nha Nam, Bach Viet, Alphabook, Thai Ha, Minh Lam, Dinh Ti, Minh Long, TGM, Tri Viet Creative, Khang Viet, Toan Phuc...
                
                Foreign language books include: dictionaries, textbooks, references, children's comics, language learning books, vocabulary, grammar, TOEFL, TOEIC, IELS exam preparation... imported from foreign publishers such as Cambridge, Mc Graw-Hill, Pearson Education, Oxford, Macmillan, Cengage Learning…
                
                Stationery, learning tools, children's toys, souvenirs... are diverse, rich, beautiful designs, good quality, provided by reputable companies and suppliers such as Thien Thanh. Long, Binh Tay Import-Export, Hanh Thuan, Ngo Quang, Viet Van, Truong Vui, Huong Mi, Phuong Nga, Viet Tinh Anh, Taking care of Vietnamese children, Mother and baby....</p>
							<p><a href="#" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
